BasedOnStyle: WebKit
ColumnLimit: 80

AlwaysBreakAfterDefinitionReturnType: TopLevel

BinPackArguments: true
AllowAllArgumentsOnNextLine: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackBracedLists: true
BinPackLongBracedList: true

AlignAfterOpenBracket: BlockIndent
Cpp11BracedListStyle: false
